.banner-parcerias{
  background-image: url('../img/parcerias-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
  margin-bottom: 100px;
  h1{
    color: $second-color;
    padding-top: 200px;
    @media(max-width: 414px){
      padding-top: 90px;
    }
  }
  p{
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
}

.col-img{
  width: 200px;
  border: 1px solid $second-color;
  height: 200px;
  float: left;
  margin-left: -25px;
  margin-right: 40px;
  line-height: 200px;
  @media(max-width: 414px){
    margin-left: 0;
    margin-right: 0;
    float: unset;
  }
  img{
    max-width: 140px;
    max-height: 140px;
    margin-left: 29px;
    vertical-align: middle;
  }
}

.col-right{
  p{
    font-size: 21px;
    line-height: 25px;
    color: $primary-color;
  }
}

.parceiros{
  button{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .row{
    margin-bottom: 50px;
  }
}
