body, h1, h2, h3, h4, h5, h6, p {
  font-family: Muli, sans-serif;
}

#header-interna {
  background: #161a18;
  background: -moz-linear-gradient(left, #161a18 0%, #023028 100%);
  background: -webkit-linear-gradient(left, #161a18 0%, #023028 100%);
  background: linear-gradient(to right, #161a18 0%, #023028 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161a18', endColorstr='#023028',GradientType=1 );
}

.btn-destaque {
  border: 1px solid #0D2D25 !important;
  padding: 11px 7px !important;
  border-radius: 50%;
  float: right;
  -webkit-transition: .5s !important;
  transition: .5s !important;
}
.btn-destaque img {
  max-width: 35px;
  padding-left: 5px;
}
@media (max-width: 767.98px) {
  .btn-destaque {
    margin-top: -25px;
  }
}

#header-interna img {
  max-width: 200px;
  margin-top: 26px;
}

#header-interna p {
  margin-top: 50px;
}

#header-interna p a {
  margin: 5px;
  color: #fff;
}

#header-interna p a:hover {
  color: #4f6266;
}

#banner-home {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#banner-home h3 {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}

#banner-home h3 .icon {
  margin: 10px;
}

#destaque {
  margin-top: 40px;
  margin-bottom: 40px;
}

#destaque h1, #destaque h2, #destaque h3, #destaque h4, #destaque h5, #destaque h6 {
  color: #0D2D25 !important;
}

#destaque .separador-titulo {
  width: 60px;
  height: 5px;
  background: #0D2D25;
}

#destaque .box-destaque-geral {
  margin-top: 30px;
  border: 1px solid #A0A0A0;
  min-height: 400px;
}

#destaque .box-destaque-geral .noticia-destaque {
  padding: 55px;
  background: #fff;
}

#destaque .box-destaque-geral .noticia-destaque h3 {
  margin-bottom: 20px;
  color: #0D2D25;
}

#destaque .box-destaque-geral .noticia-destaque p {
  margin-bottom: 50px;
}

#destaque .box-destaque-geral .noticia-destaque .btn-destaque {
  border: 1px solid #a0a0a0;
  background: transparent;
  padding: 12px 27px;
  border-radius: 50%;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#destaque .box-destaque-geral .noticia-destaque .btn-destaque:hover {
  background: #0D2D25;
  border: 1px solid #0D2D25;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#destaque .box-destaque-geral .noticia-destaque a {
  color: #a0a0a0;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#destaque .box-destaque-geral .noticia-destaque a:hover {
  color: #fff;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#destaque .box-destaque-geral .imagem-detaque {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

#postagens {
  margin-top: 40px;
  margin-bottom: 40px;
}

#postagens h1, #postagens h2, #postagens h3, #postagens h4, #postagens h5, #postagens h6 {
  color: #0D2D25;
}

#postagens .action-button {
  background-color: #0D2D25;
}

#postagens .separador-titulo {
  width: 60px;
  height: 5px;
  background: #0D2D25;
}

#postagens .box-postagem-geral {
  margin-top: 30px;
}

#postagens .box-postagem-geral .noticia-postagem {
  position: relative;
  padding: 40px;
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#postagens .box-postagem-geral .noticia-postagem h3 {
  margin-bottom: 10px;
  color: #0D2D25;
}

#postagens .box-postagem-geral .noticia-postagem p {
  margin-bottom: 50px;
}

#postagens .box-postagem-geral .noticia-postagem:hover {
  background: #f5f5f5;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#postagens .box-postagem-geral .noticia-postagem .btn-destaque {
  border: 1px solid #a0a0a0;
  background: transparent;
  padding: 12px 27px;
  border-radius: 50%;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#postagens .box-postagem-geral .noticia-postagem .btn-destaque:hover {
  background: #0D2D25;
  border: 1px solid #1D2523;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#postagens .box-postagem-geral .noticia-postagem a {
  color: #a0a0a0;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#postagens .box-postagem-geral .noticia-postagem a:hover {
  color: #a0a0a0;
  text-decoration: unset;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

footer {
  background: #0D2D25;
}

footer .formulario {
  padding: 40px 15px;
}

footer .formulario h3 {
  color: #fff;
  margin-bottom: 20px;
}

footer .formulario .form-group {
  margin-bottom: 5px;
}

footer .formulario input {
  width: 32%;
  margin: 0px 1px;
  border: 0px;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 12px;
}

footer .formulario textarea {
  width: 97.8%;
  height: 80px;
  margin: 0px 1px;
  border: 0px;
  border-radius: 2px;
  padding: 5px 15px;
  font-size: 12px;
}

footer .formulario button {
  margin: 2px;
  background-color: transparent;
  border: 1px solid #fff;
  width: 96.5%;
}

footer .formulario button:hover {
  background-color: #4f6266;
  color: #fff;
  border-color: #4f6266;
}

@media (max-width: 768px) {
  footer .formulario input {
    width: 100%;
    margin: 0px;
    margin-top: 4px;
  }

  footer .formulario textarea {
    width: 100%;
    margin: 0px;
  }

  footer .formulario button {
    width: 100%;
    margin: 0px !important;
  }
}
footer .newsletter {
  padding: 40px 35px;
}
@media (max-width: 767.98px) {
  footer .newsletter {
    padding: 30px 15px;
  }
}

footer .newsletter p {
  color: #fff;
}

footer .newsletter h3 {
  color: #fff;
  margin-bottom: 20px;
}

footer .newsletter input {
  width: 70%;
  margin: 0px 2px;
  border: 0px;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 12px;
}

footer .newsletter button {
  width: 28%;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 14px;
  padding: 7px;
}

footer .newsletter button:hover {
  background-color: #4f6266;
  color: #fff;
  border-color: #4f6266;
}

footer .newsletter a {
  margin-right: 20px;
  color: #fff;
}

footer .newsletter a:hover {
  color: #4f6266;
}

.margin-t-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-text p {
  margin-top: 20px;
}

.navigation-clean-search {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.navigation-clean-search .navbar-brand {
  display: none;
  font-weight: bold;
  color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color: #222;
}

.navigation-clean-search .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover, .navigation-clean-search .navbar-toggler:focus {
  background: none;
}

.navigation-clean-search .navbar-toggler {
  color: #888;
}

.navigation-clean-search .navbar-collapse, .navigation-clean-search .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav a.active, .navigation-clean-search .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active, .navigation-clean-search.navbar-light .navbar-nav a.active:focus, .navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
  background: #4F6266;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover, .navigation-clean-search .action-button:focus {
  background: #66d7d7;
}

.navigation-clean-search .form-inline label {
  color: #ccc;
}

.navigation-clean-search .form-inline .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

@media (max-width: 767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}
.navigation-clean-search .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

/*   Post   */
.segmet {
  width: 28px;
  height: 28px;
  background: unset;
  position: absolute;
  transition: .5s;
}
.segmet:nth-last-child(2) {
  opacity: 0;
  top: 0%;
  right: 0%;
  border-right: 4px solid #A0A2A0;
  border-top: 4px solid #A0A2A0;
}
.segmet:last-child {
  opacity: 0;
  bottom: 0%;
  left: 0%;
  border-left: 4px solid #A0A2A0;
  border-bottom: 4px solid #A0A2A0;
}

.noticia-postagem {
  height: 413px !important;
  padding: 40px;
}
@media (max-width: 767.98px) {
  .noticia-postagem {
    padding: 25px !important;
  }
}
@media (min-width: 768px) and (max-width: 1999.98px) {
  .noticia-postagem {
    padding: 30px !important;
  }
}
.noticia-postagem h3 a {
  color: #0D2D25 !important;
}
.noticia-postagem h3 a:hover {
  color: #0D2D25 !important;
}
.noticia-postagem p {
  margin-bottom: 50px;
}
.noticia-postagem p a {
  color: #555;
}
@media (max-width: 767.98px) {
  .noticia-postagem p {
    margin-bottom: 25px !important;
  }
}
@media (min-width: 768px) and (max-width: 1999.98px) {
  .noticia-postagem p {
    margin-bottom: 30px !important;
  }
}
.noticia-postagem:hover .segmet:nth-last-child(2) {
  animation: efeito-hover-post-1 .5s;
  -webkit-animation: efeito-hover-post-1 .5s;
  -moz-animation: efeito-hover-post-1 .5s;
  opacity: 1;
}
.noticia-postagem:hover .segmet:last-child {
  animation: efeito-hover-post-2 .5s;
  -webkit-animation: efeito-hover-post-2 .5s;
  -moz-animation: efeito-hover-post-2 .5s;
  opacity: 1;
}
.noticia-postagem:hover .btn-destaque {
  background: transparent !important;
  -webkit-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
}
@media (max-width: 767.98px) {
  .noticia-postagem {
    margin: 35px 10px;
  }
}

@-webkit-keyframes efeito-hover-post-1 {
  from {
    top: 10%;
    right: 10%;
    opacity: 0;
  }
  to {
    top: 0%;
    right: 0%;
    opacity: 1;
  }
}
@Keyframes efeito-hover-post-1 {
  from {
    top: 10%;
    right: 10%;
    opacity: 0;
  }
  to {
    top: 0%;
    right: 0%;
    opacity: 1;
  }
}
@-webkit-keyframes efeito-hover-post-2 {
  from {
    top: 10%;
    right: 10%;
    opacity: 0;
  }
  to {
    top: 0%;
    right: 0%;
    opacity: 1;
  }
}
@Keyframes efeito-hover-post-2 {
  from {
    bottom: 10%;
    left: 10%;
    opacity: 0;
  }
  to {
    bottom: 0%;
    left: 0%;
    opacity: 1;
  }
}
.categorias {
  float: left;
  margin-top: 37px;
  margin-left: 35px;
}
.categorias li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}
.categorias li a {
  color: #555;
}
.categorias li a:hover {
  text-decoration: underline !important;
}
@media (max-width: 470.98px) {
  .categorias {
    margin-top: 25px;
    margin-left: 0;
  }
}
@media (min-width: 552px) and (max-width: 767.98px) {
  .categorias {
    margin-top: 37px;
    padding-left: 19px;
  }
}

.lista-categoria {
  padding-left: 0;
}
.lista-categoria li {
  list-style: none;
  font-size: 12px;
  display: inline;
  margin-right: 20px;
}

/*   Post   */
/*   Noticia Destaque   */
.noticia-destaque h3 a {
  color: #0D2D25 !important;
}
.noticia-destaque h3 a:hover {
  color: #0D2D25 !important;
}

#destaque .box-destaque-geral .noticia-destaque .btn-destaque:hover {
  background: transparent !important;
  -webkit-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
}

#destaque .box-destaque-geral .noticia-destaque a {
  color: #0D2D25 !important;
}
#destaque .box-destaque-geral .noticia-destaque a:hover {
  color: #0D2D25 !important;
}

@media (max-width: 767.98px) {
  .titulo-destaque {
    margin-left: 15px;
  }
}

/*   Noticia Destaque   */
.form-pesquisa {
  display: inline;
  float: right;
  margin-top: 25px;
}
.form-pesquisa input {
  width: 200px;
  border: none;
  border-bottom: 1px solid #0D2D25;
  border-radius: 0px;
  box-shadow: unset;
  outline: none;
}
@media (max-width: 767.98px) {
  .form-pesquisa input {
    float: left;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .form-pesquisa label {
    display: flex;
    padding-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .form-pesquisa {
    float: right;
    width: 100%;
  }
}

.cabecalho {
  float: left;
}

.redes-sociais {
  float: right;
  color: white;
  margin: 22px 45px;
}
.redes-sociais p {
  margin-bottom: 0;
  font-size: 16px;
}
.redes-sociais p a {
  color: white;
  margin: 0px 5px;
}
@media (max-width: 767.98px) {
  .redes-sociais span {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .redes-sociais {
    margin: -20px 5px;
  }
}

.navbar-toggle {
  display: none !important;
}

.post-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 350px;
}

.img-post {
  width: 100%;
}

.margin-t-20 {
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
}

#banner-home {
  padding: 140px 100px;
  font-family: Muli, sans-serif;
}
@media (max-width: 767.98px) {
  #banner-home {
    padding: 90px 45px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  #banner-home {
    padding: 140px 220px;
  }
}

.post-text {
  margin-left: 0;
  margin-right: 0;
}

.link-grano {
  text-decoration: underline;
}
.link-grano:hover {
  color: #fff !important;
}

.header-archive {
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
}
.header-archive .categorias {
  margin: 0 0px 30px !important;
  background-color: #0D2D25;
  width: 100%;
  padding: 10px 20px;
}
.header-archive .categorias li a {
  color: white !important;
}
.header-archive .categorias p {
  float: left;
  color: white;
  margin-bottom: 0;
  margin-right: 15px;
}

.img-404 {
  max-width: 210px;
  margin-left: auto;
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .img-404 {
    max-width: 145px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 40px;
  }
}

.form-pesquisa-erro {
  float: unset !important;
  margin-left: 25px;
  margin-top: 25px;
}

.header-search {
  border-bottom: 7px solid #0D2D25;
}
@media (max-width: 767.98px) {
  .header-search {
    border-bottom: 4px solid #0D2D25;
    font-size: 22px;
    margin: 0px 15px;
  }
}

@media (max-width: 767.98px) {
  .else-busca {
    margin: 0px 15px;
  }
  .else-busca h4 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.wpcf7-submit {
  background: transparent;
  width: 97.8% !important;
  border: 1px solid white !important;
  color: white;
}

div.wpcf7-validation-errors {
  border: 2px solid red !important;
  color: white !important;
}

div.wpcf7-mail-sent-ok {
  border: 2px solid #398f14 !important;
  color: white !important;
  margin: 0 !important;
  width: 97.9% !important;
}
