#grano-carousel{
  margin-bottom: $container-margim-bottom;

  .item{
    padding-top: 17em;
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .owl-wrapper-outer,
  .owl-wrapper,
  .owl-item,
  .item{
    height: 100vh;
  }
  .owl-buttons{
    display: none;
  }
  .owl-controls{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 0.5em;
    .owl-page {
      .active{
        span{
          background-color: darken($text-color, 30%);
        }
      }
      span {
        background-color: $text-color;
      }
    }
  }
}
