.contato{
  padding: 70px 230px;
  margin-bottom: 9em !important;
  @media (max-width: 575.98px){
    padding: 30px 30px;
  }
  @media (min-width: 576px) and (max-width: 767.98px){
    padding: 30px 70px;
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    padding: 70px 130px;
  }  
  input, textarea{
    border: 3px solid $third-color;
    border-radius: 0;
    padding: 25px;
    width: 100%;
    @media (max-width: 767.98px){
      padding: 10px;
    }
  }
  p{
    &:last-child{
      font-size: 16px;
      text-align: center;
      margin-top: 25px;
      a{
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }
  .wpcf7-submit{
    background-color: $second-color;
    color: white;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    border: none;   
  }
  .wpcf7-form{
    label{
      width: 100%;
      input,textarea{
        width: 100%;
      }
    }
  }
}

