.servicos{
  .leia-mais{
    margin-top: -4px;
    margin-left: 104px;
  }

  .tituloI{
    margin-bottom: 0px;
  }

  .servico{
    width: 100%;
    height: 210px;
    background-color: #374E5A;
    margin-top: 91px;
    @media screen and (min-width: 768px){
      margin-top: 154px;
      h1{
        padding-top: 75px;
      }
    }
    @media screen and (min-width: 1025px){
      margin-top: 121px;
    }
    @media screen and (min-width: 1200px){
      margin-top: 67px;
      h1{
        padding-top: 90px;
      }
    }
  }

  .row1{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 0;
  }

  .row1,.row2,.row4{
    .col1{
      margin-left: -30%;
      height: 560px;
      .fundo{
        background-image: url('../img/fundo1.png');
        margin-left: 37%;

      }
    }
  }


  .coluna2{
    display: inline-block;
    float: left;
    width: 100%;
    height: 560px;
    @media(min-width: $screen-sm-min){
      width: 50%;
      height: 560px;
    }
    .consultoria{
      width: 90%;
      margin-top: 13%;
      margin-left: 6%;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         margin-left: 39%;
         width: 69%;
       }
      img{
        position: absolute;
      }
      h3{
        margin-left: 95px;
        // font-size: 27px;
        @media screen and (min-width: 768px){
          // font-size: 23px;
          // padding-top: 26px;
          margin-left: 100px;
        }
        @media screen and (min-width: 1200px){
          // font-size: 30px;
        }
      }
      p{
        // font-size: 15px;
        padding-top: 15px;
        color: black;
        text-align: justify;
        @media screen and (min-width: 768px){
          //  font-size: 16px;
        }
        @media screen and (min-width: 1200px){
          // font-size: 18px;
        }
      }
    }
    .governanca, .capacitacao{
      width: 90%;
      margin-top: 13%;
      margin-left: 6%;
      @media screen and (min-width: 768px){
        margin-left: 22%;
        margin-top: 16%;
        width: 90%;
      }
      @media screen and (min-width: 860px){
        margin-left: 22%;
        margin-top: 16%;
        width: 85%;
      }
      @media screen and (min-width: 1200px){
        width: 65%;
        margin-top: 12%;
      }
      img{
        position: absolute;
      }
      h3{
        margin-left: 85px;
        // font-size: 27px;
        padding-top: 10px;
        @media screen and (min-width: 768px){
          // font-size: 23px;
          // padding-top: 15px;
        }
        @media screen and (min-width: 860px){
          // padding-top: 35px;
        }
        @media screen and (min-width: 1024px){
          // padding-top: 40px;
        }
        @media screen and (min-width: 1200px){
          // font-size: 30px;
          // padding-top: 0px;
        }
      }
      p{
        // font-size: 15px;
        padding-top: 15px;
        color: black;
        text-align: justify;
        @media screen and (min-width: 768px){
          // font-size: 16px;
        }
        @media screen and (min-width: 1200px){
          // font-size: 18px;
        }
      }
    }
    .capacitacao{
      img{
        width: 70px;
      }
      @media screen and (min-width: 768px){
        margin-left: 12%;
        margin-top: 16%;
        width: 90%;
      }
      @media screen and (min-width: 860px){
        margin-left: 12%;
        margin-top: 16%;
        width: 85%;
      }
    }
  }

  .row2{
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #7D95A1;
    margin-top: -7px;
    overflow: hidden;
    height: 665px;
    @media(min-width: $screen-sm-min){
      height: 515px;
    }
  }

  .coluna3{
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    @media(min-width: $screen-sm-min){
      width: 50%;
    }
    .leia-mais{
      float: right;
      margin-right: 100px;
      color: $body-bg;
    }
  }

  .imgresp{
    display: block;
    width: 100%;
    @media(min-width: $screen-sm-min){
      display: none;
    }
  }

  .gerenciamento{
    width: 90%;
    position: absolute;
    margin-top: 12%;
    margin-left: 6%;
    @media screen and (min-width: 768px){
      width: 95%;
      left: 42%;
      margin-left: 0;
      margin-top: 60px;
    }
    @media screen and (min-width: 1024px){
      width: 75%;
      margin-top: 80px;
    }
    @media screen and (min-width: 1200px){
      width: 60%;
      left: 52%;
      margin-top: 60px;
    }
    img{
      position: absolute;
      margin-left: 82%;
      top: 12%;
      width: 19%;
      @media(min-width: $screen-sm-min){
        top: 10%;
        width: 17%;
      }
    }
    h3{
      color: white;
      margin-right: 90px;
      // font-size: 27px;
      @media screen and (min-width: 768px){
        // font-size: 23px;
        text-align: right;
        margin-right: 85px;
        padding-top: 5px;
      }
      @media screen and (min-width: 1200px){
        // font-size: 30px;
        margin-right: 96px;
        padding-top: 0px;
      }
    }
    p{
      color: white;
      padding-top: 15px;
      // font-size: 15px;
      text-align: justify;
      @media screen and (min-width: 768px){
        text-align: justify;
        // font-size: 16px;
      }
      @media screen and (min-width: 1200px){
        // font-size: 18px;
      }
    }
  }

  .gerenciamentop{
    width: 90%;
    position: absolute;
    margin-top: 340px;
    margin-left: 5%;
    @media screen and (min-width: 768px){
      width: 74%;
      left: 32%;
      margin-left: 0;
      margin-top: 285px;
    }
    @media screen and (min-width: 1024px){
      width: 70%;
    }
    @media screen and (min-width: 1200px){
      width: 60%;
      left: 32%;
      margin-left: 0;
      margin-top: 285px;
    }
    img{
      position: absolute;
      margin-left: 82%;
      top: 17%;
      width: 17%;
      @media(min-width: $screen-sm-min){
        top: 13%;
      }
    }
    h3{
      color: white;
      margin-right: 96px;
      // font-size: 27px;
      @media screen and (min-width: 768px){
        // font-size: 23px;
        text-align: right;
        margin-right: 70px;
      }
      @media screen and (min-width: 1024px){
        margin-right: 80px;
      }
      @media screen and (min-width: 1200px){
        // font-size: 30px;
        margin-right: 96px;
      }
    }
    p{
      color: white;
      padding-top: 15px;
      // font-size: 15px;
      text-align: justify;
      @media screen and (min-width: 768px){
        // font-size: 16px;
        text-align: justify;
      }
      @media screen and (min-width: 1200px){
        // font-size: 18px;
      }
    }
  }

  .col2{
        margin-right: -20%;
    .fundo{
      margin-left: -40%;
      // margin-left: -24%;
      background-image: url('../img/fundo2.png');

    }
  }

  .col3{
    margin-left: -23%;
      .fundo{
        background-image: url('../img/fundo3.png');
        margin-left: 36%;
      }
  }

  .row-final{
    overflow: hidden;
    margin-top: -7px;
    .coluna-esquerda{
      height: 430px;
    }
  }

  .coluna6{
    display: inline-block;
    float: left;
    width: 100%;
    height: 300px;
    @media screen and (min-width: 768px){
      width: 50%;
      height: 430px;
    }
    @media screen and (min-width: 1200px){
      height: 430px;
    }
    .leia-mais{
      float: right;
      margin-right: 0;
      // color: $body-bg;
    }
    .governanca{
      margin-top: 15%;
      width: 90%;
      margin-left: 5%;
      @media screen and (min-width: 768px){
        margin-top: 21%;
        padding-left: 22px;
        margin-right: -5%;
        width: 95%;
      }
      @media screen and (min-width: 1024px){
      }

      h3{
        text-align: center;
        @media screen and (min-width: 768px){
          text-align: right;
          // font-size: 27px;
        }
        @media screen and (min-width: 1200px){
          // font-size: 30px;
        }
      }
      p{
        text-align: center;
        // font-size: 15px;
        color: black;
        @media screen and (min-width: 768px){
          text-align: right;
          // font-size: 16px;
        }
        @media screen and (min-width: 1200px){
          // font-size: 18px;
        }
      }
    }
  }

  .faixa1{
    display: none;
    transform: skewX(-25deg);
    height: 539px;
    // margin-top: 162px;
    // margin-left: 24.1%;
    position: absolute;
    left: 29%;
    bottom: 0;

    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
       display: block;
       width: 20px;
       background-color: #374E5A;
     }
  }

  .faixa01{
    display: none;
    @media screen and (min-width: 900px){
      margin-left: 24%;
    }
    @media screen and (min-width: 1000px){
      margin-left: 25%;
    }
    @media screen and (min-width: 1100px){
      margin-left: 25.5%;
    }
    @media screen and (min-width: 1200px){
      margin-top: -270px;
      transform: skewX(-25deg);
      margin-left: 32.5%;
      height: 270px;
    }
  }

  .faixa2{
    display: none;
    position: absolute;
    bottom: 0;
    right: 30%;
    transform: skewX(-25deg);
    width: 20px;
    height: 592px;
    background-color: #374E5A;
  }

  .faixa02{
    display: none;
    @media screen and (min-width: 768px){
      display: block;
      margin-top: -92%;
      height: 270px;
      width: 1px;
      margin-left: 78%;
      transform: skewX(-25deg);
      background-color: #374E5A;
    }
    @media screen and (min-width: 800px){
      margin-left: 78.5%;
    }
    @media screen and (min-width: 900px){
      margin-left: 76.5%;
      margin-top: -80%;
    }
    @media screen and (min-width: 1000px){
      margin-left: 76%;
      margin-top: -74%;
    }
    @media screen and (min-width: 1100px){
      margin-left: 75%;
      margin-top: -68%;
    }
    @media screen and (min-width: 1200px){
      margin-top: -52%;
      margin-left: 66%;
      transform: skewX(-25deg);
    }
  }

  .faixa3{
    display: none;
    @media screen and (min-width: 768px){
      display: block;
      width: 78%;
      height: 20px;
      background-color: #374E5A;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .row4{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #33BB9C;
    margin-top: -7px;
    @media screen and (min-width: 768px){
      height: 400px;
    }
    @media screen and (min-width: 1200px){
      height: 500px;
    }
    .mask{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.2);
      background-size: 100%;
      background-image: linear-gradient(to right,rgba(0,0,0,0),
      rgba(0,0,0,0),
      rgba(0,0,0,.2));
    }
    .proama{
      width: 90%;
      text-align: center;
      position: absolute;
      margin-top: 9%;
      z-index: 9999;
      margin-left: 15px;
      @media screen and (min-width: 768px){
        width: 50%;
        margin-left: 27%;
      }
      @media screen and (min-width: 1200px){
        width: 40%;
      }
      h3{
        color: white;
        // font-size: 25px;
        @media screen and (min-width: 1200px){
          // font-size: 30px;
        }
      }
      p{
        // font-size: 15px;
        padding-top: 15px;
        color: white;
        @media screen and (min-width: 768px){
          // font-size: 16px;
          padding-top: 10px;
          padding-bottom: 15px;
        }
        @media screen and (min-width: 1200px){
          // font-size: 17px;
        }
      }
    }
  }

// box-conteudo
  .box-conteudo{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 99999;
    background-color: transparentize($body-bg, .5);
    border: 0 solid $body-bg;
    visibility: hidden;
    opacity: 0;
    padding: 40px;
    overflow-y: scroll;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
       padding: 70px;
       padding-top: 40px;
     }
    @include transition-property(visibility, border, opacity, background-color);
    @include transition-duration(1s);

    .btnFechar{
      width: 50px;
      height: 50px;
      display: block;
      position: fixed;
      top: 46px;
      right: 46px;
      cursor: pointer;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         width: 70px;
         height: 70px;
         top: 80px;
         right: 80px;
       }
      &:after{
        content: '';
        width: 100%;
        height: 4px;
        background-color: $text-color;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        transform: rotate(45deg);
      }
      &:before{
        content: '';
        width: 100%;
        height: 4px;
        background-color: $text-color;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        transform: rotate(-45deg);
      }
    }
    &.active{
      visibility: visible;
      opacity: 1;
      background-color: transparentize($body-bg, .05);
      border: 30px solid $body-bg;
      @media (min-width: $screen-sm-min) {
        border: 70px solid $body-bg;
      }
      .form{
        width: 80%;
        margin-right: 10%;
        /* Small devices (tablets, 768px and up) */
         @media (min-width: $screen-sm-min) {
           width: 70%;
           margin-right: 15%;
         }
      }
    }
  }


}
