.proama{
  .leia-mais{
    margin-top: -4px;
    margin-left: 90px;
  }
  .tituloI{
    background-color: $brand-danger;
    h1{
      padding-top: 70px;
    }
  }
  .p1{
    text-align: justify;
    font-size: 17px;
    line-height: 32px;
  }
  .btn-saibamais{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
  }
  .cronograma-link{
    text-align: center;
    img{
      width: 55px;
      margin-bottom: 20px;
      margin-top: 40px;
    }
    .btn{
      margin-top: 0;
      margin-left: 0;
      width: 250px;
      background-color:rgba(0, 187, 156,0.3);
      margin-bottom: 50px;
    }
  }

  .container-left, .container-right{
    position: relative;
    padding: 50px;
    padding-right: 200px;
    overflow: hidden;
    margin-bottom: 50px;
    z-index: 2;
    @media(min-width: $screen-sm-min){
      width: 50%;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include transform(skewX(24deg));
      height: 100%;
      width: 110%;
      margin-left: -20%;
      z-index: 1;
      @media(min-width: $screen-sm-min){
        border: 2px solid $text-color;
      }
    }
  }

  .container-right{
    width: 100%;
    padding-right: 50px;
    padding-left: 200px;
    z-index: 2;
    &:before{
      top: 0;
      left: auto;
      right: 0;
      margin-left: 0;
      margin-right: -20%;
      z-index: -1;
      border: 2px solid $text-color;
    }
  }
  .coluna-esquerda{
    display: inline-block;
    float: left;
    height: 460px;
    transform: skewX(-25deg);
    position: relative;
    &.vermelho{
      background-color: $brand-danger;
      .fundo{
        background-image: none !important;
      }
    }
    .fundo{
      background-image: url('../img/proama-foto1.png');
    }
    &:before{
      content: '';
      width: 20px;
      height: 90%;
      position: absolute;
      right: -20px;
      bottom: 0;
      display: block;
      background-color: $brand-danger;
    }

  }

  .container-left, .container-right{
    position: relative;
    padding: 50px;
    padding-right: 200px;
    overflow: hidden;
    margin-bottom: 50px;
    z-index: 2;
    @media(min-width: $screen-sm-min){
      width: 90%;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include transform(skewX(24deg));
      height: 100%;
      width: 70%;
      margin-left: -20%;
      z-index: 1;
      @media(min-width: $screen-sm-min){
        border: 2px solid $text-color;
      }
    }
  }

  .container-right{
    width: 100%;
    height: 320px;
    padding-right: 50px;
    padding-left: 800px;
    z-index: 2;
    &:before{
      top: 0;
      left: auto;
      right: 0;
      margin-left: 0;
      margin-right: -20%;
      z-index: -1;
      border: 2px solid $text-color;
    }
  }
  .coluna2{
    .titulo{
      margin-left: 10%;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         margin-left: 33%;
       }
    }
    .box{
      width: 90%;
      margin-left: 10%;
      margin-top: 8%;
      cursor: pointer;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
        width: 60%;
        margin-left: 37%;
       }
      img{
        position: absolute;
        width: 65px;
      }
      h3{
        margin-left: 85px;
        // padding-top: 19px;
      }
      p{
        font-size: 15px;
        padding-top: 15px;
        color: black;
        height: auto;
        opacity: 1;
        @include transition-duration(0.5s);
        @include transition-property(height, opacity);
        /* Small devices (tablets, 768px and up) */
         @media (min-width: $screen-sm-min) {
           height: 0;
           opacity: 0;
           overflow: hidden;
         }
      }
      &:hover{
        p{
          height: 118px;
          opacity:1;
        }
      }
    }
    .box1{
      // margin-left: 10%;
      margin-left: 10%;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
        margin-left: 27%;

       }
    }
    .box2{
      margin-left: 10%;
      margin-top: 0;
      margin-bottom: 40px;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         margin-left: 20%;
       }
    }
    .box3{
      margin-left: 8%;
      margin-top: 0;
      margin-bottom: 40px;
      h3{
        // padding-top: 18px;
      }
    }
  }
  .interna-final{
    height: 285px;
    .texto{
      margin-top: 4%;
    }
    .btn{
      color: $body-bg;
    }
  }

  .row2{
    .detalhes{
      left: 59%;
    }
    .coluna3{
      .leia-mais{
        float: right;
        margin-right: 100px;
        color: $body-bg;
      }

      .box1{
        margin-left: 5%;
        /* Small devices (tablets, 768px and up) */
         @media (min-width: $screen-sm-min) {
          width: 100%;
          margin-left: 10%;
         }
        h3{
          padding-top: 16px;
        }
      }
      .box2{
        margin-top: 113px;
        margin-left: 5%;
        margin-bottom: 80px;
        /* Small devices (tablets, 768px and up) */
         @media (min-width: $screen-sm-min) {
           margin-left: 30%;
           width: 70%;
         }
      }
    }
    .coluna-direita{
        height: 625px;
        width: 63%;
        @media(min-width: $screen-md-min){
          height: 500px;
          width: 50%;
        }
    }
  }

  // box-conteudo
    .box-conteudo{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      z-index: 99999;
      background-color: transparentize($body-bg, .5);
      border: 0 solid $body-bg;
      visibility: hidden;
      opacity: 0;
      padding: 40px;
      overflow-y: scroll;
      /* Small devices (tablets, 768px and up) */
       @media (min-width: $screen-sm-min) {
         padding: 70px;
         padding-top: 40px;
       }
      @include transition-property(visibility, border, opacity, background-color);
      @include transition-duration(1s);

      .btnFechar{
        width: 50px;
        height: 50px;
        display: block;
        position: fixed;
        top: 46px;
        right: 46px;
        cursor: pointer;
        /* Small devices (tablets, 768px and up) */
         @media (min-width: $screen-sm-min) {
           width: 70px;
           height: 70px;
           top: 80px;
           right: 80px;
         }
        &:after{
          content: '';
          width: 100%;
          height: 4px;
          background-color: $text-color;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -2px;
          transform: rotate(45deg);
        }
        &:before{
          content: '';
          width: 100%;
          height: 4px;
          background-color: $text-color;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -2px;
          transform: rotate(-45deg);
        }
      }
      &.active{
        visibility: visible;
        opacity: 1;
        background-color: transparentize($body-bg, .05);
        border: 30px solid $body-bg;
        @media (min-width: $screen-sm-min) {
          border: 70px solid $body-bg;
        }
        .form{
          width: 80%;
          margin-right: 10%;
          /* Small devices (tablets, 768px and up) */
           @media (min-width: $screen-sm-min) {
             width: 70%;
             margin-right: 15%;
           }
        }
      }
    }
    .editado{
      position: relative;
      padding-left: 0px;
      width: 100%;
      .coluna1{
        position: absolute;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        @media screen and (min-width: 768px){
          width: 50%;
          transform: skewX(18deg);
          margin-left: -18%;
          height: 600px;
        }
        @media screen and (min-width: 992px){
          height: 350px;

        }
        @media screen and (min-width: 1200px){
          transform: skewX(25deg);
          height: 500px;
        }
        .fundo{
          background-image: url('../img/div_20.png');
          height: 250px;
          width: 100%;
          background-position: center;
          background-size: cover;
          @media screen and (min-width: 768px){
            transform: skewX(-18deg);
            margin-left: 30%;
            height: 600px;
          }
          @media screen and (min-width: 1200px){
            margin-left: 30%;
            transform: skewX(-25deg);
            height: 500px;
          }
        }
      }
    }
/// DIV_22 ======================================================
    .row2{
      width: 100%;
      height: auto;
      display: inline-block;
      margin-top: -7px;
      overflow: hidden;
      background-color: #FAFAFA;
      @media(min-width: $screen-sm-min){
        height: 630px;
      }
      @media(min-width: $screen-md-min){
        height: 515px;
      }
    }

    .coluna3{
      width: 100%;
      display: inline-block;
      float: left;
      position: relative;
      @media(min-width: $screen-sm-min){
        width: 50%;
      }
      .leia-mais{
        float: right;
        margin-right: 100px;
        color: $body-bg;
      }
    }

    .imgresp{
      display: block;
      width: 100%;
      @media(min-width: $screen-sm-min){
        display: none;
      }
    }

    .gerenciamento{
      width: 90%;
      position: absolute;
      margin-top: 12%;
      margin-left: 6%;
      @media screen and (min-width: 768px){
        width: 95%;
        left: 42%;
        margin-left: 0;
        margin-top: 60px;
      }
      @media screen and (min-width: 1024px){
        width: 75%;
        margin-top: 80px;
      }
      @media screen and (min-width: 1200px){
        width: 60%;
        left: 52%;
        margin-top: 60px;
      }
      img{
        position: absolute;
        margin-left: 82%;
        top: 12%;
        width: 19%;
        @media(min-width: $screen-sm-min){
          top: 10%;
          width: 17%;
        }
      }
      h3{
        color: white;
        margin-right: 90px;
        // font-size: 27px;
        @media screen and (min-width: 768px){
          // font-size: 23px;
          text-align: right;
          margin-right: 85px;
          padding-top: 5px;
        }
        @media screen and (min-width: 1200px){
          // font-size: 30px;
          margin-right: 96px;
          padding-top: 0px;
        }
      }
      p{
        color: white;
        padding-top: 15px;
        // font-size: 15px;
        text-align: justify;
        @media screen and (min-width: 768px){
          text-align: justify;
          // font-size: 16px;
        }
        @media screen and (min-width: 1200px){
          // font-size: 18px;
        }
      }
    }

    .gerenciamentop{
      width: 90%;
      position: absolute;
      margin-top: 340px;
      margin-left: 5%;
      @media screen and (min-width: 768px){
        width: 74%;
        left: 32%;
        margin-left: 0;
        margin-top: 285px;
      }
      @media screen and (min-width: 1024px){
        width: 70%;
      }
      @media screen and (min-width: 1200px){
        width: 60%;
        left: 32%;
        margin-left: 0;
        margin-top: 285px;
      }
      img{
        position: absolute;
        margin-left: 82%;
        top: 17%;
        width: 17%;
        @media(min-width: $screen-sm-min){
          top: 13%;
        }
      }
      h3{
        color: white;
        margin-right: 96px;
        // font-size: 27px;
        @media screen and (min-width: 768px){
          // font-size: 23px;
          text-align: right;
          margin-right: 70px;
        }
        @media screen and (min-width: 1024px){
          margin-right: 80px;
        }
        @media screen and (min-width: 1200px){
          // font-size: 30px;
          margin-right: 96px;
        }
      }
      p{
        color: white;
        padding-top: 15px;
        // font-size: 15px;
        text-align: justify;
        @media screen and (min-width: 768px){
          // font-size: 16px;
          text-align: justify;
        }
        @media screen and (min-width: 1200px){
          // font-size: 18px;
        }
      }
    }

    .col2{
          margin-right: -20%;
      .fundo{
        margin-left: -40%;
        // margin-left: -24%;
        background-image: url('../img/div_22.png');

      }
    }
//========================================================

    .colunaT{
      @media(min-width: $screen-sm-min){
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    .container-left, .container-right{
      padding: 15px;
      @media(min-width: $screen-sm-min){
        position: relative;
        width: 80%;
        padding: 50px;
        padding-right: 200px;
        overflow: hidden;
        margin-bottom: 50px;
        z-index: 2;
      }
      &:before{
        @media(min-width: $screen-sm-min){
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          border: 2px solid #E2614E;
          @include transform(skewX(-24deg));
          height: 91%;
          width: 110%;
          margin-left: -25%;
          z-index: 1;
        }
      }
    }
    .div3{
      border-top: 2px solid #33BB9C;
      border-bottom:  2px solid #33BB9C;
      background-color:rgba(0, 187, 156,0.3);
      .divperguntas{
        padding-top: 5px;
        padding-right: 30px;
        padding-left: 30px;
        @media(min-width: $screen-sm-min){
          padding-right: 45px;
          padding-left: 45px;
          padding-top: 70px;
        }
        @media(min-width: $screen-md-min){
          padding-right: 70px;
          padding-left: 0px;
          padding-top: 70px;

        }
      }
      h2{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        @media(min-width: $screen-sm-min){
          padding-bottom: 0px;
        }
      }
      .faixa{
        background-color: #33BB9C;
        margin-top: -20px;
      }
      .row{
        margin-bottom: 15px;
      }
      .p1{
        cursor: pointer;
      }
      .p1:hover{
        text-decoration: underline;
      }
    }
    .faixa,.faixa2{
      background-color: #E2614E;
      height: 20px;
      width: 45%;
      margin-left: -10px;
      margin-bottom: 50px;
      @include transform(skewX(-40deg));
      @media(min-width: $screen-sm-min){
        width: 35%;
      }
    }
    .faixa2{
      height: 5px;
      width: 65%;
      @media(min-width: $screen-sm-min){
        width: 55%;
      }
    }
    .div4,.div7,.div10,.div13,.div16{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 500px;
    }
    .div4{
      background-image: url('../img/proama-foto1.png');
    }
    .div7{
      background-image: url('../img/proama-foto2.jpg');
    }
    .div10{
      background-image: url('../img/div_10.png');
    }
    .div13{
      background-image: url('../img/div_13.png');
    }
    .div16{
      background-image: url('../img/div_16.png');
    }
    .div5,.div6,.div7,.div8,.div9,.div11,.div12,.div14,.div15,.div17,.div18,.div19,.div20,.div21,.div22,.div23,.div24,.div25,.div26,.div27,.div28{
      // display: none;
      p{
          font-size: 17px;
      }
    }
    .div5{
      height: 550px;
      margin-bottom: 40px;
      @media(min-width: $screen-sm-min){
        height: 500px;
      }
      .coluna-direita{
         transform: skewX(25deg);
         height: 342px;
         margin-top: 140px;
         width: 50%;
         @media(min-width: $screen-md-min){
           height: 300px;
         }
      }
      .textoE{
        transform: skewX(-25deg);
        margin-left: 70px;
        margin-top: 25px;
        width: 60%;
        @media(min-width: $screen-md-min){
          margin-left: 100px;
          width: 50%;
        }
      }
      .coluna3{
        margin-top: 100px;
      }
      .textoA{
        width: 100%;
        @media(min-width: $screen-sm-min){
          width: 50%;
        }
        @media(min-width: $screen-md-min){
          margin-left: 90px;
        }
        h2{
          padding-bottom: 30px;
        }
      }
      .textoD{
        transform: skewX(25deg);
        margin-left: 160px;
        margin-top: 25px;
      }
      .col2{
        @media(min-width: $screen-sm-min){
          border: 2px solid #E2614E;
          margin-right: -11%;
        }
        @media(min-width: $screen-md-min){
          margin-right: -9%;
        }
      }
      .texto{
        @media(min-width: $screen-sm-min){
          width: 50%;
          margin-left: 15px;
          h2{
            padding-bottom: 50px;
          }
          @media(min-width: $screen-md-min){
            margin-left: 90px;
          }
        }
      }
      ul{
        font-size: 17px;
        list-style-image: url('../img/icone-lista2.png');
      }
      li{
        padding-bottom: 15px;
      }
    }
    .div6{
      img{
        border: 0;
        vertical-align: middle;
        margin-top: 100px;
        width: 100%;
        height: auto;
        @media(min-width: $screen-md-min){
          margin-left: 70px;
          width: 60%;
        }
      }
    }
    .div8{
      padding-top: 50px;
      img{
        padding-top: 50px;
        padding-left: 30px;
        width: 100%;
        height: auto;
      }
    }
    .div9{
      padding-bottom: 50px;
      img{
        width: 100%;
        height: auto;
        @media(min-width: $screen-md-min){
          margin-top: -50px;
        }
      }
    }
    .div11{
      h2{
        padding-top: 50px;
        padding-bottom: 50px;
      }
      img{
        margin-bottom: -130px;
        margin-left: 15px;
        @media(min-width: $screen-sm-min){
          width: 14%;
          margin-bottom: -75px;
          margin-left: 0px;
        }
        @media(min-width: $screen-md-min){
          width: 10%;
          margin-bottom: -75px;
        }
      }
      p{
        padding-left: 150px;
      }
      .row{
        padding-bottom: 50px;
      }
      .cabeca{
        @media(min-width: $screen-sm-min){
          top: 130px;
          width: 9%;
        }
      }
      .conexao{
        top: 270px;
      }
    }
    .div14{
      margin-top: 50px;
      p{
        padding-top: 30px;
      }
    }
    .div17{
      h2{
        padding-top: 50px;
        padding-bottom: 50px;
      }
      h3{
        padding-bottom: 30px;
      }
      p{
        padding-bottom: 30px;
      }
    }
    .div15{
      p{
        padding-bottom: 50px;
        padding-top: 50px;
      }
      img{
        width: 100%;
        height: auto;
        @media(min-width: $screen-md-min){
          width: 90%;
        }
      }
    }
    .div19{
      p{
        padding-bottom: 50px;
      }
    }
    .div18,.div20,.div23{
      h2{
        padding-bottom: 50px;
      }
    }
    .div20{
      .texto{
        margin-top: 300px;
        @media(min-width: $screen-sm-min){
          margin-top: 0px;
        }
      }
    }
    .div21{
      .row{
        padding-bottom: 30px;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
    .div22{
      .texto{
        @media(min-width: $screen-sm-min){
          width: 50%;
          margin-left: 15px;
        }
        @media(min-width: $screen-md-min){
          margin-left: 100px;
        }
      }
      h2{
        padding-bottom: 50px;
      }
    }
    .div24{
      margin-bottom: 40px;
      .textoD{
        transform: skewX(25deg);
        margin-left: 114px;
        margin-top: 65px;
        margin-right: 135px;
        @media(min-width: $screen-md-min){
          margin-left: 100px;
          margin-top: 25px;
          margin-right: 100px;
        }
      }
      .col2{
        @media(min-width: $screen-sm-min){
          border: 2px solid #E2614E;
          margin-right: -19%;
        }
        @media(min-width: $screen-md-min){
          margin-right: -12%;
        }
      }
      .texto{
        @media(min-width: $screen-sm-min){
          width: 50%;
          margin-left: 15px;
          h2{
            padding-bottom: 50px;
          }
          @media(min-width: $screen-md-min){
            margin-left: 90px;
          }
        }
      }
      ul{
        font-size: 17px;
        list-style-image: url('../img/icone-lista2.png');
      }
      li{
        padding-bottom: 15px;
      }
    }
    .div25{
      color: #FAFAFA;
      .editado{
        background-color: #7D95A1;
        height: 500px;
      }
      .coluna1{
        height: 516px;
        @media(min-width: $screen-sm-min){
          margin-left: -170px;
        }
        .fundo{
          background-image: url('../img/div_25.png');
          height: 500px;
          @media(min-width: $screen-sm-min){
            margin-left: 26%;
          }
        }
      }
      .texto{
        margin-top: 570px;
        margin-left: 15px;
        margin-right: 15px;
        @media(min-width: $screen-sm-min){
          margin-top: 35px;
          margin-left: 50%;
          margin-right: 0px;
        }
        @media(min-width: $screen-md-min){
          margin-top: 75px;
        }
      }
    }
    .div26{
      h2{
        @media(min-width: $screen-sm-min){
          padding-top: 50px;
        }
      }
    }
    .div27{
      img{
        width: 100%;
        height: auto;
      }
    }
    .div25,.div26,.div27,.div28{
      h2{
        padding-bottom: 50px;
      }
    }
    .div5,.div9,.div17{
      ul{
        font-size: 17px;
        list-style-image: url('../img/icone-lista.png');
      }
      li{
        padding-bottom: 15px;
      }
    }
}
