@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Pridi:300,500');

@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');
